html
  head
    title= "Wyniki wyszukiwania"
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  body
    .container
      form(action="/travel", method="GET")
        .form-group
          label= "Lotnisko startowe:"
          select.form-control(name="from")
            each airport in airports
              option(value=airport.code)= airport.code + " - " + airport.city + " (" + airport.country + ")"
        .form-group
          label= "Ilość odwiedzanych miast:"
          select.form-control(name="length")
            option= 1
            option= 2
            option= 3
            option= 4
        .form-group
          input(type="checkbox", name="filterOrigin")
          label= "Nie pokazuj lotów do kraju początkowego"
        button.btn.btn-primary(type="submit")= "Szukaj"